@model TrabFinal___PeRsH.Models.RegisterViewModel
@{
    ViewBag.Title = "Registar";
    string[] meses = new string[12] { "Janeiro", "Fevereiro","Março","Abril","Maio","Junho","Julho",
        "Agosto","Setembro","Outubro","Novembro","Dezembro" };
    int ano = Convert.ToInt32(Session["data"]);
    List<string> lista = ViewData["lista"] as List<string>;
    List<string> listaEmails = ViewData["listaEmails"] as List<string>;
}
<h2 style="margin-left:40%">@ViewBag.Title.</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div style="margin-left:20%">
        <div class="col-md-8">
            <h4>Criar nova conta.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Nickname, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Nickname, new { @id = "nickText", @onkeyup = "verifica(this.id)", @class = "form-control", @maxlength = 12 })
                </div>
                <div class="col-md-5">
                    <span id="resultNick"></span>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Data de Nascimento", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    Dia: <select name="diaSel" class="btn btn-primary dropdown-toggle" style="background-color:white;color:black;border:1px solid #bbbbbb">
                        @for (int i = 1; i <= 31; i++)
                        {
                            <option id="@i" value="@i">@i</option>
                        }
                    </select>
                    Mês: <select name="mesSel" class="btn btn-primary dropdown-toggle" style="background-color:white;color:black;border:1px solid #bbbbbb">
                        @for (int i = 0; i < meses.Length; i++)
                        {
                            <option id="@meses[i]" value="@meses[i]">@meses[i]</option>
                        }
                    </select>
                    Ano: <select name="anoSel" class="btn btn-primary dropdown-toggle" style="background-color:white;color:black;border:1px solid #bbbbbb">
                        @for (int i = 1900; i <= ano; i++)
                        {
                            <option id="@i" value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id="emailText", @onkeyup="validaEmail(this.id)" })
                </div>
                <div class="col-md-5">
                    <span id="textEmail"></span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div>
                <p><span class="glyphicon glyphicon-ok" style="color:green"></span> Livre / Formato Correto</p>
                <p><span class="glyphicon glyphicon-remove" style="color:#ff0000"></span> Já existe / Formato Errado</p>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Registar" />
                </div>
            </div>
            </div>
        </div>
}

<script>
    function verifica(id) {
        var txtBox = document.getElementById(id);
        var res = document.getElementById("resultNick");
        var str = @Html.Raw(Json.Encode(lista));//Retirado de https://stackoverflow.com
        if (!str.includes(txtBox.value)) {
            if (txtBox.value=="") {
                res.setAttribute("class", "glyphicon glyphicon-remove");
                res.style.color = "#ff0000";
            } else {
                res.setAttribute("class", "glyphicon glyphicon-ok");
                res.style.color = "green";
            }
            } else
            {
                res.setAttribute("class", "glyphicon glyphicon-remove");
                res.style.color = "#ff0000";
            }
    }

        function validaEmail(id) {
        var txtBox = document.getElementById(id);
        var res = document.getElementById("textEmail");
        var str = @Html.Raw(Json.Encode(listaEmails));//Retirado de https://stackoverflow.com
        if (!str.includes(txtBox.value) && txtBox.value.includes(@Html.Raw(Json.Encode("@"))) && txtBox.value.includes(".")) {
            if (txtBox.value == "") {
                res.setAttribute("class", "glyphicon glyphicon-remove");
                res.style.color = "#ff0000";
            } else {
                res.setAttribute("class", "glyphicon glyphicon-ok");
                res.style.color = "green";
            }
            } else
            {
                res.setAttribute("class", "glyphicon glyphicon-remove");
                res.style.color = "#ff0000";
            }
    }
</script>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
