@model IEnumerable<TrabFinal___PeRsH.Models.Temas>
@{
    ViewBag.Title = "Temas";
}
@using (Html.BeginForm())
{
    <div style="position:absolute;width:80%;height:80%;left:10%;top:14%;">
        <h2 style="text-align:Center;color:darkblue">Escolha um dos vários @ViewBag.Title</h2>
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.Etiqueta,"Index","PergDisc", new { id = item.idTema }, new { @class = "btn btn-primary btn-lg",
                @style = "height:10%;width:25%;margin-top:2%;margin-left:5%;background-color:#428bca;border:1px solid #428bca;color:white"
            })

            if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Editar | ", "Edit", "Temas", new { id = item.idTema }, null)
                @Html.ActionLink("Detalhes | ", "Details", "Temas", routeValues: null, htmlAttributes: new { id = item.idTema })
                @Html.ActionLink("Apagar", "Delete", new { id = item.idTema })
            }
        }

        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Criar Tema", "Create", "Temas")
        }
        else
        {
            <h2 style="color:darkblue;margin-left:5%;margin-top:5%;font-size:20px">A sua dúvida não se encaixa nestes temas? Indique-nos qual <b class="glyphicon glyphicon-share"></b></h2>
            <input type="submit" name="bt" value="Sugerir um tema" class="btn btn-primary btn-lg" style="height:10%;width:100%;margin-top:2%;margin-left:5%;background-color:#428bca;border:1px solid #428bca;color:white" />
        }
    </div>
}

