<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PeRsH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#428bca;border:1px solid #c5c5c5">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color:#428bca;border:1px solid #a9b4b9">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.Label("PeRsH", htmlAttributes: new { area = "", @class = "navbar-brand", @style = "color:white;font-family:Calibri;font-size:25px" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home", routeValues: null, htmlAttributes: new { @style = "color:white;font-family:Calibri;font-size:15px" })</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home", routeValues: null, htmlAttributes: new { @style = "color:white;font-family:Calibri;font-size:15px" })</li>
                    <li>@Html.ActionLink("Contactos", "Contact", "Home", routeValues: null, htmlAttributes: new { @style = "color:white;font-family:Calibri;font-size:15px" })</li>
                    @if (((RazorView)ViewContext.View).ViewPath == "~/Views/PergDisc/Index.cshtml" || ((RazorView)ViewContext.View).ViewPath == "~/Views/PergDisc/PergDisc.cshtml")
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" style="background-color:#428bca;color:white;cursor:pointer;font-family:Calibri;font-size:15px">Temas <span class="glyphicon glyphicon-arrow-down"></span></a>
                            <ul class="dropdown-menu" style="font-size:2.5vmin">
                                @{
                                    int i = 1;
                                    int idTema = 0;
                                    foreach (var item in ViewBag.temas)
                                    {
                                        if (item == ViewBag.temaEscolhido)
                                        {
                                            <li class="list-group-item-text">
                                                @{
                                                    idTema = i;
                                                }
                                                <a href="~/PergDisc/Index/@i">@item<p class="glyphicon glyphicon-eye-open"></p></a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item-text">
                                                <a href="~/PergDisc/Index/@i">@item</a>
                                            </li>
                                        }
                                        i++;
                                    }

                                }
                            </ul>
                        </li>
                                    if (User.Identity.IsAuthenticated && ((RazorView)ViewContext.View).ViewPath == "~/Views/PergDisc/Index.cshtml")
                                    {
                                        <li>@Html.ActionLink("Criar uma Discussão", "Create", "Discussoes", new { id = idTema }, new { @style = "color:white;font-family:Calibri;font-size:15px" })</li>
                                        }
                                    }
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                @Html.ActionLink("Denúncias das Discussões", "Index", "Reports",null, new { @style = "color:white;font-family:Calibri;font-size:15px" })
                            </li>
                            <li>
                                @Html.ActionLink("Denúncias dos Comentários", "Index", "ComentReports",null, new { @style = "color:white;font-family:Calibri;font-size:15px" })
                            </li>
                        }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
