@model TrabFinal___PeRsH.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    int temaEsc = ViewBag.temaEsc;
    string temaEscolhido = ViewBag.temaEscolhido;
}
<div class="navbar navbar-fixed-left navbar-fixed-bottom" style="background-color:#a1c5e5;height:92%;width:20%">
        
        <ul style="font-size:x-large;color:#428bca;margin-top:5%">
            Lista de Temas:
            @foreach (var item in Model.temas)
            {
            if (temaEsc != item.idTema)
            {
                    <li>@Html.ActionLink(item.Etiqueta, "Index", "PergDisc", new { id = item.idTema }, new { @style = "color:white;font-size:medium" })</li>
                }
                else
                {
                    <li>@Html.ActionLink(item.Etiqueta, "Index", "PergDisc", new { id = item.idTema }, new { @style = "color:white;font-size:medium" })<p class="glyphicon glyphicon-eye-open"></p></li>
                }
            }
        </ul>
</div>
<h1 style="margin-left:40%;color:#707070">@temaEscolhido</h1>
<div style="margin-left:25%;margin-top:3%;width:70%;">
    @foreach (var item in Model.discussoes)
    {
        <div style="margin-top:3%;height:90%;background-color:#f6f6f6">
            <h1 style="background-color:#808080;color:white">@item.titulo</h1>
            @item.conteudo
            @using (Html.BeginForm())
            {
                <button class="btn btn-primary" value="Likes" style="background-color:#aaaaaa;left:80%;width:5%;font-size:15px;height:5%;border:1px solid #aaaaaa">@item.likes <p class="glyphicon glyphicon-thumbs-up"></p></button>
                <button class="btn btn-primary" value="Likes" style="background-color:#aaaaaa;left:78.5%;width:5%;font-size:15px;height:5%;border:1px solid #aaaaaa">@item.dislikes <p class="glyphicon glyphicon-thumbs-down"></p></button>
            }
            <button class="btn btn-primary" style="text-align:center;width:70%;background-color:#aaaaaa;border:1px solid #aaaaaa;">Comentários</button>
        </div>
    }
</div>