@using System.Text.RegularExpressions
@using TrabFinal___PeRsH.Models
@model TrabFinal___PeRsH.Models.HomeViewModel
@{
    ViewBag.Title = "PesqPerg";
    List<string> tituloEscolhido = Model.discussoes.Select(x=>x.titulo).ToList();
    var i = 0;
    int numComentariosDiscussoes = (from coment in Model.comentarios where Model.discussoes.Any(x=>x.idDiscussao==coment.DiscussaoFK) select coment).Count();
    int numLikesDiscussoes = (from like in Model.likes where Model.discussoes.Any(x => x.idDiscussao == like.DiscussaoFK) select like).Count();
    int numDislikesDiscussoes = (from dislike in Model.dislikes where Model.discussoes.Any(x => x.idDiscussao == dislike.DiscussaoFK) select dislike).Count();
    int numAvalsDiscussoes = (from aval in Model.avaliacao where Model.discussoes.Any(x => x.idDiscussao == aval.DiscussaoFK) select aval).Count();
}

<div class="navbar-left" style="width:20%">
    <div class="well" style="background-color:#e0e0e0">
        <br />
        <p style="text-align:center;color:#333333;font-size:2.5vmin"><b>Resultados da Pesquisa</b></p>
        <p style="color:#06569c">Número de Discussões: <span class="badge">@Model.discussoes.Count()</span></p>
        <p style="color:#06569c">Número de Comentários: <span class="badge">@numComentariosDiscussoes</span></p>
        <p style="color:#06569c">Número de Avaliações: <span class="badge">@numAvalsDiscussoes</span></p>
        <p style="color:#06569c">Número de Likes: <span class="badge">@numLikesDiscussoes</span></p>
        <p style="color:#06569c">Número de Dislikes: <span class="badge">@numDislikesDiscussoes</span></p>
    </div>
    <div class="well" style="background-color:#e0e0e0;border:none;text-align:center">
        <label>Pesquisa:</label>
        @using (Html.BeginForm("Pesquisa", "PergDisc"))
            {
            <input name="btnPesq" placeholder="Insira a sua pergunta" rows="6" maxlength="120" />
            <button class="btn btn-default" style="border:1px solid #a9a9a9"><p class="glyphicon glyphicon-search"></p></button>
        }
    </div>
</div>

<div class="container" style="width:70%;margin-left:25%;">
    <h1 style="color:#06569c">Resultado da Pesquisa</h1>
    @foreach (var item in Model.discussoes)
    {
        <div style="border:1px solid #06569c;background-color:white;margin-top:2%;border-radius:5px;height:67px">
            <p style="font-size:25px;background-color:#a1c5e5;">@item.titulo</p>
            <div class="container row">
                <div class="col-sm-9">
                    @if (item.conteudo.Length < 105)
                {
                        @Html.ActionLink("" + @item.conteudo + "...", "PergDisc", "PergDisc", new { id = item.idDiscussao }, new { })
                    }
                    else
                    {
                        @Html.ActionLink("" + @item.conteudo.Substring(0, 105) + "...", "PergDisc", "PergDisc", new { id = item.idDiscussao }, new { })
                    }
                </div>
                <div style="text-align:right;">
                    <span style="margin-left:1.5%"><b class="glyphicon glyphicon-comment"></b> @Model.comentarios.Select(x => x).Where(x => x.DiscussaoFK == item.idDiscussao).Count()</span>
                    <span style="margin-left:0.5%"><b class="glyphicon glyphicon-thumbs-up text-right"></b> @Model.likes.Select(x => x).Where(x => x.DiscussaoFK == item.idDiscussao).Where(x => x.ComentarioFK == null).Count()</span>
                    <span style="margin-left:0.5%"><b class="glyphicon glyphicon-thumbs-down text-right"></b> @Model.dislikes.Select(x => x).Where(x => x.DiscussaoFK == item.idDiscussao).Where(x => x.ComentarioFK == null).Count()</span>
                    <span style="margin-left:0.5%"><b class="glyphicon glyphicon-star"></b>@{var ava = item.avaliacao.ToString() == 0 + "" ? "Sem avaliação" : item.avaliacao + "";} @ava</span>
                </div>
            </div>
            </div>
            i++;
            }
        </div>
